html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
    background-color: black;
    color: #fff;
    
    
}
.header h2{
    font-size: 2.5rem;
}


.navegacion ul{
    display: flex;
    gap:2rem;
    list-style: none;
}

.navegacion__enlace{
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}

.navegacion__enlace:hover{
    color: aqua;
}

.contenedor{
    display: grid;
    max-width: 60%;
    grid-template-columns: 3fr 2fr;
    margin: auto;
    

   
}

.contenedor__articulos{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
    
}

@media (min-width: 768px) {
    .contenedor__articulos{
        display: grid;
        width: 80%;
        margin: auto;
        
        
    }
 }

.contenedor__titulo{
    font-size: 2.5rem;
    text-align: center;
}

.contenedor__imagen{
    text-align: center;
}
.contenedor__imagen img{
    max-width: 80%;
    
}

.contenedor__texto{
    font-size: 1.5rem;
    text-align: center;
}



.sidebar{
    display: grid;
}